<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSQL">
	<!-- 로그인 -->
	<select id="login" parameterType="java.util.Map" resultType="member">
		select * from member where id=#{id} and pwd=#{pwd}
	</select>
	
	<!-- 회원가입 -->
	<insert id="write" parameterType="member.bean.MemberDTO">
		insert into member values(#{name}
								, #{id}
								, #{pwd}
								, #{gender}
								, #{email1}
								, #{email2}
								, #{tel1}
								, #{tel2}
								, #{tel3}
								, #{zipcode}
								, #{addr1}
								, #{addr2}
								, sysdate)
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="checkId" parameterType="String" resultType="member">
		select * from member where id=#{id}
	</select>
	
	<!-- 우편번호 -->
	<select id="checkPostSearch" parameterType="java.util.Map" resultType="zipcode">
		select * from newzipcode 
		where sido like '%'||#{sido}||'%'
		 and nvl(sigungu,'0') like '%'||#{sigungu}||'%' 
		 and roadname like '%'||#{roadname}||'%'
	</select>
	
	<!-- 1사람의 글 -->
	<select id="getMember" parameterType="String" resultType="member">
		select * from member where id=#{id}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="modify" parameterType="member">
		update member set name=#{name}
						, pwd=#{pwd}
						, gender=#{gender}
						, email1=#{email1}
						, email2=#{email2}
						, tel1=#{tel1}
						, tel2=#{tel2}
						, tel3=#{tel2}
						, zipcode=#{zipcode}
						, addr1=#{addr1}
						, addr2=#{addr2}
						, logtime=sysdate where id=#{id}
	</update>
</mapper> 
















